.menu-right {
    display: flex;
    width: 100%;
    background-color: #FFF;
    color: #000;
    box-shadow: 0px 0px 5px;

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        .active {
            margin-left: 10px;
        }

        .left {
            display: flex;

            .logout {
                cursor: pointer;
                margin-right: 8px;
            }
            .showmenu {
                cursor: pointer;
                display: block;
            }
        }

        
    }
}

@media only screen and (min-width: 1024px) {
    .menu-right {
        .menu {
            .left {
                .logout {
                    margin-right: 0;
                }
                .showmenu {
                    display: none;
                }
            }
        }
    }
}